{% extends 'base.html' %} 

{% block content %}
<h3 class = 'text-center'>
	{% if orders.count > 0 %}
		Ваши заказы
	{% else %}
		Заказов нет
		{% if requests.count > 0 %}
	<h4 class = 'text-center'>Ваша заявка ожидает рассмотрения. Вскоре с вами свяжутся для уточнения деталей заказа</h4>
		{% endif %}
	{% endif %}</h3>
<table class="table">
	<br>
	{% if orders.count > 0 %}
	<tr>
		<td class="text-center"><strong>Авто</strong></td>
		<td class="text-center"><strong>Статус заказа</strong></td>
		<td class="text-center"><strong>Дата заказа</strong></td>
		<td class="text-center"><strong>Дата завершения</strong></td>
		<td class="text-center"><strong>Доставка</strong></td>
		<td class="text-center"><strong>Общая стоимость</strong></td>
	</tr>
	{% endif %}
	{% for order in orders %}
	<tr>
		<td class="text-center">{{ order.request.car }}</td>
		<td class="text-center">{{ order.order_status }}</td>
		<td class="text-center">{{ order.start_date }}</td>
		<td class="text-center">{{ order.end_date }}</td>
		<td class="text-center">{{ order.request.delivery }}</td>
		<td class="text-center">{{ order.request.cost }}$</td>
	</tr>
	{% endfor %}
</table>
<!--<a href = '#'><button class='btn btn-success'>Оформить заказ</button></a>-->
{% endblock content %}